{
    "prefix": "PREFIX",
    "token": "TOKEN",
    "mongo": {
        "user": "USER",
        "password": "PASS",
        "host": "HOSTNAME",
        "port": PORT,
        "database": "DATABASE"
    }
}